<div class="title">
  <h1><span>P</span>izza</h1>
</div>

<div class="savutitle">
  <% @page_title = "ログイン画面" %>
  <h3><%= @page_title %></h3>
</div>


<div class="main">

  <button class="button"><%= link_to "<<Top", :root %></button><br><br>
  <% if flash.alert %><p class = "alert"><%= flash.alert %></p><% end %>

  <%= form_tag :session, id: "login_form" do %>
    <div>
      <label>ユーザー名：</label>
      <input type="text" name = "name">
    </div>
    <div>
      <label>パスワード：</label>
      <input type="password" name = "password">
    </div>
    <div>
      <input type="submit" value="ログイン">
    </div>
  <% end %>

</div>
