<% @page_title = "メインメニュー一覧" %>
<h1><%= @page_title %></h1>

<% if @mainmenus.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>メインメニュー名</th>
      </tr>
    </thead>
    <tbody>
      <% @mainmenus.each do |mainmenu| %>
        <tr>
          <%# <% if Product.find_by(id: mainmenu.id).present? %> %>
            <%# <% @product = Product.find(mainmenu.id) %> %>
          <%# <% else %> %>
            <% @product = Product.new %>
            <% @product.mainmenu = mainmenu %>
            <% @product.price = mainmenu.price %>
            <%# <% @product.id = mainmenu.id %> %>
            <% @product.save %>
          <%# <% end %> %>
          <td><%= link_to mainmenu.name, product_path(@product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>メインメニュー情報がありません。</p>
<% end %>

<% if @sidemenus.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>サイドメニュー名</th>
      </tr>
    </thead>
    <tbody>
      <% @sidemenus.each do |sidemenu| %>
        <tr>
          <td><%= link_to sidemenu.name, sidemenu %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>サイドメニュー情報がありません。</p>
<% end %>

<div class="toolbar"><%= link_to "<<Top", :root %></div>
