<% @page_title = @member.name + "さんの利用履歴" %>
<h1><%= @page_title %></h1>

<% if @orders.present? %>
  <% @orders.each do |order| %>
    <h5><%= order.address %></h5>
  <% end %>
<% else %>
 <p>利用履歴がありません。</p>
<% end %>


<div><%= link_to "戻る", edit_member_path(@member) %></div>
